name: Build and Release

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.x

      - name: Build and Test
        run: |
          go build -o doorbird-video-capture .

          # Run tests if you have any
          # go test ./...

      - name: Build Docker image
        run: docker build -t doorbird-video-capture .

  release:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 18

      - name: Semantic Release
        run: npx semantic-release -e @semantic-release/changelog
